*{
    border:1px solid red;
}
html{font-size: 16px;}
body{
    background-color: black;
   font-family: 'Plus Jakarta Sans', sans-serif;}
#newGoal{
    background-color: rgba(255, 64, 0, 0.962);
    color: Black;
    width:6.25rem;
    border-radius: 1.25rem;
    height: 2.25rem;
    cursor:pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    color:white;
    padding-left:1.25rem;
    padding-right:1.25rem;
    border-bottom: 1px solid rgb(61, 61, 61);
}
.firstBigBox{
    display:grid;
    grid-template-columns: repeat(12,1fr) ;
    margin:auto;
    gap: 1.25rem;
    margin: 1.25rem;
    grid-template-areas: 
    "totalsavings totalsavings totalsavings totalsavings totalsavings totalsavings  activegoals activegoals activegoals goalscompleted goalscompleted goalscompleted"
    " monthdeposit monthdeposit monthdeposit monthdeposit monthdeposit monthdeposit monthdeposit monthdeposit monthdeposit monthdeposit monthdeposit monthdeposit " ;
}
.fieldName{
    color:White;
    font-size:1rem;
    justify-content:start;
    align-content: start;
    white-space:nowrap;

}
.box1{
    border-radius: 1rem;
    padding-left:1rem;
    height:7.5rem;
    padding: 1.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.values{
    font-size:4.5rem;
}
.totalSavings{
    grid-area:totalsavings;
    background-color: rgba(255, 64, 0, 0.962);
    color: white;
}
.activeGoals{
    grid-area:activegoals;
    background-color: #1f1f1f;
    color:  rgba(255, 64, 0, 0.962);
    border:1px solid rgb(61, 61, 61);
}
.goalsCompleted{
    grid-area:goalscompleted;
    color:#36a05d;
    background-color: #1f1f1f;
    border:1px solid rgb(61, 61, 61);
}
.monthDeposit{
    grid-area:monthdeposit;
    display:grid;
    background-color: #1f1f1f;
    height:12.5rem;
    border-radius:0.5rem;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:1fr 10fr;
    gap:1.25rem;
    border:1px solid rgb(61, 61, 61);
    padding:1rem;
}
#depositMonth{grid-column:span 6}
.months{
    grid-column:span 12;
    grid-row-start:2;
    display:grid;
    height: 9.4rem;
    gap:1.25rem;
    grid-template-columns:repeat(12, 1fr );

}
.month{
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr;
    height: 9.4rem;
    font-size:0.75rem;
}
.monthPersentage{
    background-color: rgba(255, 64, 0, 0.962);
    border-radius: 0.25rem;
    grid-row-end:-3;
}
.money{
    color:rgb(103, 101, 101);
    text-align: center;
    grid-row-start:-3;
}
.monthName{
    color:white;
    text-align:center;
    grid-row-start:-2;
}
#jun{ height:1.5rem;}
#july{height:1.25rem;}
#aug{height:1.25rem;}
#sep{height:3.6rem;}
#oct{height:3.6rem;}
#nov{height:4.75rem;}
#dec{height:7.5rem}
#jan{height:3rem;}
#feb{height:4.75rem;}
#mar{height:4.75rem;}
.yourGoals{
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:1.25rem;
    margin-bottom: 1.25rem;
}
h3{
    color:white;
    font-size:2rem;
    white-space:nowrap;
}
#fsbox1{
    display:grid;
    grid-template-columns:1fr 1fr;
    width:18.75rem;
    gap:0.5rem;
}
.fsbox2{
    background-color: #1f1f1f;
    color:white;
    width:7.5rem;
    border-radius: 3rem;
    height: 2.5rem;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(61, 61, 61);
}
#sort{grid-column-start:2}
#filter{grid-column-start:1}
.goalsBigBox{
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr;
    gap:1.25rem;
    height:55rem;
    padding-left:1.25rem;
    padding-right:1.25rem;
    grid-template-areas: 
    "macbook macbook mechanical "
    "react anniversary mechanical"
    "monitor emergency emergency"
    "monitor new ergonomic";
}
.box2{
    border-radius:1rem;
    padding:1rem;
    display:grid;
    grid-template-rows:1fr 6fr 1fr ;
}
.orangeBox{
    background-color: rgba(255, 64, 0, 0.962);
    color:white;
    grid-column:span 2;
}
.grayBox{
    background-color: #1f1f1f;
    color: rgba(255, 64, 0, 0.962);
}
.activityName{
    color:White;
    font-size:1rem;
    justify-content:start;
    align-content: start;
    white-space:nowrap;
}
.cBox{
    color: #36a05d;
    font-size:0.75rem;
    border:1px solid #36a05d;
    border-radius:0.5rem;
    display:flex;
    width:4rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 128, 0, 0.201);
}
.completed{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.donePersentage{
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
}
.persentage{
    font-size: 4rem;
    grid-row-start:2;
    margin-bottom: 1.25rem;
}
.valuebox{
    display:flex;
    flex-direction:row;
    align-items:center;
    font-size:0.75rem;
}
.valuemoney{
    color:white;
}
.valuedate{
    color:gray
}
.point{
    background-color:rgba(136, 131, 131, 0.475);
    width:0.25rem;
    height:0.25rem;
    border-radius:100%;
    margin:0.25rem;
}
.MackBook {
  grid-area: macbook;
}
.Mechanical {
    color:#36a05d;
    grid-area: mechanical;
}
.React {
  grid-area: react;
}
.Anniversary {
  grid-area: anniversary;
}
.Monitor {
    grid-area: monitor;
}

.Emergency {
  grid-area: emergency;
}
.New {
  grid-area: new;
}
.Ergonomic {
    color:gray;
    grid-area: ergonomic;
}
.oline{
    width: 100%;
    height: 0.6rem;
    background-color: #2222226d;
    border-radius: 0.3rem;
    overflow: hidden;
}
.gline{
    width: 100%;
    height: 0.6rem;
   background-color:rgba(79, 69, 69, 0.538);
   border-radius: 0.3rem;
    overflow: hidden;
}
.greenline{
    background-color:#36a05d;
    border-radius:0.3rem;
    height:0.6rem;
}
.emptyline{
    background-color:rgba(79, 69, 69, 0.538);
}
.flMacBook{
    width:76%;
    height:0.6rem;
    background-color: white;
    border-radius: 0.3rem;
}
.flReact{
    width:72%;
    height:0.6rem;
    background-color: rgba(255, 64, 0, 0.962);
    border-radius: 0.3rem;
}
.flAnniversary{
    width:60%;
    height:0.6rem;
    background-color: rgba(255, 64, 0, 0.962);

    border-radius: 0.3rem;
}
.flMonitor{
    width:75%;
    height:0.6rem;
    background-color: rgba(255, 64, 0, 0.962);
    border-radius: 0.3rem;
}
.flEmergency{
    width:80%;
    height:0.6rem;
    background-color: white;
    border-radius: 0.3rem;
}
.flNew{
    width:57%;
    height:0.6rem;
    background-color: rgba(255, 64, 0, 0.962);
    
    border-radius: 0.3rem;
}
@media only screen and (max-width:768px){
    html{
        font-size: 14px;
    }
    .firstBigBox{
        grid-template-columns:1fr  1fr;
        grid-template-areas: 
        "totalsavings totalsavings"
        "activegoals goalscompleted"
        "monthdeposit monthdeposit";
    }
    .months{
        display:flex;
        overflow-x:auto;
    }
    .month{
        min-width:calc(100%/6);
        flex-shrink:0;
    }
    .goalsBigBox{
        height:auto;
        grid-template-columns:1fr 1fr ;
        grid-template-areas: 
        "macbook macbook "
        "react anniversary "
        "mechanical mechanical"
        "emergency emergency"
        "new ergonomic"
        "monitor monitor";
    }

}
@media only screen and (max-width:426px){
    html{
        font-size: 12px;
    }
    .firstBigBox{
        grid-template-columns: 1fr;
        grid-template-areas:
        "totalsavings"
        "activegoals"
        "goalscompleted"
        "monthdeposit";
    }
    .months{
        display:flex;
        overflow-x:auto;
    }

    .month{
        min-width:calc(100%/6);
        flex-shrink:0;
    }
    .yourGoals{
        flex-direction: column;
        align-items: flex-start;
    }
    #fsbox1{
        width:100%;
        justify-content: space-around;
        margin:auto;
        align-items: center;
    }
    .month{
        min-width:calc(100%/6);
        flex-shrink:0;
    }
    .goalsBigBox{
        height:auto;
        grid-template-columns:1fr;
        grid-template-areas: 
        "macbook"
        "react "
        "anniversary"
        "mechanical "
        "emergency "
        "new"
        "ergonomic"
        "monitor";
    }
}